<div class="favouritekeywords disallowHighlighting">
{{#if favourites}}
  <ul class="nav nav-pills">
    {{#if noFilter}}
      <li class="active">
    {{else}}
      <li>
    {{/if}}
      <a href="" class="keyword_link keyword_showall" data-keyword=""><strong><i class="fa fa-star"></i></strong> <span class="badge">{{totalCount}}</span></a>
    </li>
    {{#each favourites}}
      {{#if selected}}
        <li class="active">
      {{else}}
        <li>
      {{/if}}
          <a href="" class="keyword_link" data-keyword="{{keyword}}">{{keyword}} <span class="badge">{{count}}</span> <i class="fa fa-times removeKeyword"></i></a>
        </li>
    {{/each}}
  </ul>
{{else}}
  <p class="text-center lead"><i class="fa fa-search fa-5x"></i> and <i class="fa fa-star fa-5x"></i> keywords.<br />need help? go to <i class="fa fa-cog fa-4x"></i>.<br /></p>
{{/if}}
</div>