<div class="favouritekeywords">
{{#if favourites}}
  <ul class="nav nav-pills">
    {{#if noFilter}}
      <li class="active">
    {{else}}
      <li>
    {{/if}}
      <a href="" class="keyword_link" data-keyword="">all <i class="fa fa-heart"></i> keywords <span class="badge">{{totalCount}}</span></a>
    </li>
    {{#each favourites}}
      {{#if selected}}
        <li class="active">
      {{else}}
        <li>
      {{/if}}
          <a href="" class="keyword_link" data-keyword="{{keyword}}">{{keyword}} <span class="badge">{{count}}</span> <i class="fa fa-times removeKeyword"></i></a>
        </li>
    {{/each}}
  </ul>
{{else}}
  <p class="text-center lead">first <i class="fa fa-eye fa-5x"></i> and <i class="fa fa-heart fa-4x"></i> keywords.<br />goto <i class="fa fa-bars fa-4x"></i> for more information.<br /></p>
{{/if}}
</div>