<div class="favouritekeywords">
{{#if favourites}}
  <ul class="nav nav-pills">
    {{#if noFilter}}
      <li class="active">
    {{else}}
      <li>
    {{/if}}
      <a href="" class="keyword_link" data-keyword="">.:*<i class="fa fa-heart"></i>*:.<span class="badge">{{totalCount}}</span></a>
    </li>
    {{#each favourites}}
      {{#if selected}}
        <li class="active">
      {{else}}
        <li>
      {{/if}}
          <a href="" class="keyword_link" data-keyword="{{keyword}}">{{keyword}} <span class="badge">{{count}}</span></a>
        </li>
    {{/each}}
  </ul>
{{else}}
  <p class="text-center lead">first <i class="fa fa-eye fa-5x"></i> discover and <i class="fa fa-heart fa-4x"></i> keywords.</p>
{{/if}}
</div>