{{#if items}}
<table class="table table-hover table-condensed">
  <thead class="disallowHighlighting">
    <td class="lead text-center">{{!-- <i class="fa fa-filter fileHosterStatusHead"></i> --}}</td>
    <td class="lead">date</td>
    <td class="lead">releases <small>({{items.length}} total)</small></td>
  </thead>
  <tbody>
    {{! output each item}}
    {{#each items}}
      <tr>
        
        {{!-- output status there/fetched/downloaded --}}
        {{#if filehosterLinksFetched}}
          {{#if userClickedFilehosterLink}} 
            <td class="text-center"><i class="fa fa-check fileHosterStatusSymbol fileHosterStatusDownloaded"></i></td>
          {{else}}
            <td class="text-center"><i class="fa fa-link fileHosterStatusSymbol fileHosterStatusFetched"></i></td>
          {{/if}}
        {{else}}
          {{#if filehosterFetchPreviouslyFailed}}
            <td class="text-center"><i class="fa fa-exclamation fileHosterStatusSymbol fileHosterStatusFetchFailed"></i></td>
          {{else}}
            <td class="text-center"><i class="fa fa-minus fileHosterStatusSymbol fileHosterStatusNonFetched"></i></td>
          {{/if}}
        {{/if}}
        
        {{!-- static --}}
        <td><small>{{date}}</small></td>
        
        <td>
          <div class="items_td_row">
            <p class="items_title">{{title}}</p>
          
            {{!-- output all links --}}
            {{#each filehosterLinks}}
              
              {{#if @first}}
                <div class="btn-group items_link_group">  
              {{/if}}

                {{#if downloaded}}
                  <button type="button" data-uuid="{{uuid}}" data-href="{{link}}" class="btn btn-success btn-xs items_link defaultCursorNoDrag" data-toggle="tooltip" data-placement="top" title="copy link"><i class='fa fa-check'></i> {{provider}}</button> 
                {{else}}
                  <button type="button" data-uuid="{{uuid}}" data-href="{{link}}" class="btn btn-default btn-xs items_link defaultCursorNoDrag" data-toggle="tooltip" data-placement="top" title="copy link"><i class='fa fa-clipboard'></i> {{provider}}</button> 
                {{/if}}
              
              {{#if @last}}
                </div>
              {{/if}}

            {{/each}}

            {{#unless filehosterLinks}}
              {{#if filehosterFetchPreviouslyFailed}}
                <div class="items_link_group"><p class="items_fetchFail"><a class="items_link_external" href="{{link}}" data-uuid="{{uuid}}">open in browser</a></p></div>
              {{/if}}
            {{/unless}}
          </div>
        </td>
        
      </tr>
    {{/each}}
  </tbody>
</table>
{{else}}
  <p class="text-center lead"><i class="fa fa-frown-o fa-5x"></i> no content.</p>
{{/if}}