{{#if items}}
<table class="table table-hover table-condensed">
  <thead class="disallowHighlighting">
    <td>Date</td>
    <td>Title</td>
  </thead>
  <tbody>
    {{! output each item}}
    {{#each items}}
    <tr>
      <td>{{date}}</td>
      {{#if link}}
        <td><a class="items_link" href="{{link}}">{{title}}</a></td>
      {{else}}
        <td>{{title}}</td>
      {{/if}}
    </tr>
    {{/each}}
  </tbody>
</table>
{{else}}
  <p class="text-center lead"><i class="fa fa-frown-o fa-5x"></i> no content.</p>
{{/if}}