{{#if items}}
<table class="table table-hover table-condensed">
  <thead class="disallowHighlighting">
    <td class="lead">date</td>
    <td class="lead">release <small>({{items.length}} total)</small></td>
    <td class="lead text-center"><i class="fa fa-link"></i></td>
  </thead>
  <tbody>
    {{! output each item}}
    {{#each items}}
      <tr>
        <td><small>{{date}}</small></td>
        <td>{{title}}</td>
            {{#each filehosterLinks}}
              
              {{#if @first}}
                <td>
              {{/if}}
              
              <a class="items_link" href="{{link}}">{{provider}}</a>
              
              {{#unless @last}}
                <br />
              {{/unless}}
              
              {{#if @last}}
                </td>
              {{/if}}

            {{else}}
              <td class="text-center">-</td>
            {{/each}}
          </td>
        </tr>
    {{/each}}
  </tbody>
</table>
{{else}}
  <p class="text-center lead"><i class="fa fa-frown-o fa-5x"></i> no content.</p>
{{/if}}