{{#if items}}

{{!-- PAGINATION TOP --}}
<div class="paginator text-center">
  <ul class="pagination pagination-sm" data-tab="{{tab}}">
    {{#paginate pagination type="previous"}}
      <li {{#if disabled}}class="disabled"{{/if}}><a data-page="{{n}}" class="paginationItem" href="#"><i class="fa fa-caret-left"></i></a></li>
    {{/paginate}}
    {{#paginate pagination type="middle" limit="10"}}
      <li {{#if active}}class="active"{{/if}}><a data-page="{{n}}" class="paginationItem" href="#">{{n}}</a></li>
    {{/paginate}}
    {{#paginate pagination type="next"}}
      <li {{#if disabled}}class="disabled"{{/if}}><a data-page="{{n}}" class="paginationItem" href="#"><i class="fa fa-caret-right"></i></a></li>
    {{/paginate}}
  </ul>
</div>

<table class="table table-hover table-condensed">
  <thead class="disallowHighlighting">
    <td colspan="2" class="lead">tags{{!-- <i class="fa fa-tags fileHosterStatusHead"></i> --}}</td>
    <td class="lead">date</td>
    <td class="lead">releases <small>({{itemsCountFrom}}-{{itemsCountTo}} | {{items.length}} total)</small></td>
  </thead>
  <tbody>
    {{! output each item}}
    {{#slice items offset=itemsSliceOffset limit=itemsSliceLimit}}
      <tr>
        
        {{!-- output status there/fetched/downloaded --}}
        {{#if filehosterLinksFetched}}
          {{#if userClickedFilehosterLink}} 
            <td class="text-center item_fileHoster_td"><i class="fa fa-check fileHosterStatusSymbol fileHosterStatusDownloaded"></i></td>
          {{else}}
            <td class="text-center item_fileHoster_td"><i class="fa fa-link fileHosterStatusSymbol fileHosterStatusFetched"></i></td>
          {{/if}}
        {{else}}
          {{#if filehosterFetchPreviouslyFailed}}
            <td class="text-center item_fileHoster_td"><i class="fa fa-exclamation fileHosterStatusSymbol fileHosterStatusFetchFailed"></i></td>
          {{else}}
            <td class="text-center item_fileHoster_td"><i class="fa fa-minus fileHosterStatusSymbol fileHosterStatusNonFetched"></i></td>
          {{/if}}
        {{/if}}
        
        
        <td class="text-center item_lang_td">
          {{#if tags.english}}
            <span class="item_tag"><img src="assets/i18n/gb.png" width="14px" /></span>
          {{/if}}

          {{#if tags.german}}
            <span class="item_tag"><img src="assets/i18n/de.png" width="14px" /></span>
          {{/if}}

          {{#if tags.tv}}
            <span class="item_tag"><i class="fa fa-youtube-play"></i></span>
          {{/if}}
        </td>

        <td class="item_tag_date"><small>{{date}}</small></td>

        <td>
          <div class="items_td_row">
            <p class="items_title">{{{title}}}</p>
          
            {{!-- output all links --}}
            {{#each filehosterLinks}}
              
              {{#if @first}}
                <div class="btn-group items_link_group">  
              {{/if}}

                {{#if downloaded}}
                  <button type="button" data-uuid="{{uuid}}" data-href="{{link}}" class="btn btn-success btn-xs items_link defaultCursorNoDrag" data-toggle="tooltip" data-placement="top" title="copy link"><i class='fa fa-check'></i> {{provider}}</button> 
                {{else}}
                  <button type="button" data-uuid="{{uuid}}" data-href="{{link}}" class="btn btn-default btn-xs items_link defaultCursorNoDrag" data-toggle="tooltip" data-placement="top" title="copy link"><i class='fa fa-clipboard'></i> {{provider}}</button> 
                {{/if}}
              
              {{#if @last}}
                </div>
              {{/if}}

            {{/each}}

            {{#unless filehosterLinks}}
              {{#if filehosterFetchPreviouslyFailed}}
                <div class="items_link_group"><p class="items_fetchFail"><a class="items_link_external" href="{{link}}" data-uuid="{{uuid}}">open in browser</a></p></div>
              {{/if}}
            {{/unless}}
          </div>
        </td>
        
      </tr>
    {{/slice}}
  </tbody>
</table>

{{!-- PAGINATION Bottom --}}
<div class="paginator text-center">
  <ul class="pagination pagination-sm" data-tab="{{tab}}">
    {{#paginate pagination type="previous"}}
      <li {{#if disabled}}class="disabled"{{/if}}><a data-page="{{n}}" class="paginationItem" href="#"><i class="fa fa-caret-left"></i></a></li>
    {{/paginate}}
    {{#paginate pagination type="middle" limit="10"}}
      <li {{#if active}}class="active"{{/if}}><a data-page="{{n}}" class="paginationItem" href="#">{{n}}</a></li>
    {{/paginate}}
    {{#paginate pagination type="next"}}
      <li {{#if disabled}}class="disabled"{{/if}}><a data-page="{{n}}" class="paginationItem" href="#"><i class="fa fa-caret-right"></i></a></li>
    {{/paginate}}
  </ul>
</div>

{{else}}
  <p class="text-center lead"><i class="fa fa-frown-o fa-5x"></i> no content.</p>
{{/if}}