<div id="currentModal" class="modal fade disallowHighlighting" tabindex="-1" role="dialog" aria-labelledby="currentModal_label" aria-hidden="true">
  <div class="modal-dialog {{#if large}}modal-lg{{else}}modal-sm{{/if}}"> {{!-- modal-sm or  --}}
    <div class="modal-content">
      <div class="modal-header">
        {{#if dismissable}}<button type="button" class="closeModalButton pull-right" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>{{/if}}
        <p id="currentModal_label" class="modal-title">{{{title}}}</p>
      </div>
      <div class="modal-body {{#if large}}modalLargeBody{{/if}}">
        {{{content}}}
      </div>
      <div class="modal-footer">
        {{#if noDecision}}
          <button id="modal_button_close" type="button" class="btn btn-default" data-dismiss="modal">continue</button>
        {{else}}
          <button id="modal_button_dismiss" type="button" class="btn btn-danger" {{#if dismissable}}data-dismiss="modal"{{/if}}><i class="fa fa-times"></i> {{dismissText}}</button>
          <button id="modal_button_agree" type="button" class="btn btn-primary"><i class="fa fa-check"></i> {{agreeText}}</button>
        {{/if}}
      </div>
    </div>
  </div>
</div>