<div class="settings_what settings_item jumbotron disallowHighlighting">

  <p class="text-center"><a class="openLinkInBrowser" href="{{homepageURL}}"><img class="defaultCursorNoDrag" src="assets/SJ_logo_128x128x32.png" width="128px" height="128px" /></a></p>
  <p class="text-center"><strong><em>your</em> favourite releases</strong> from serienjunkies.org</p>
  <p class="text-center"><a class="popupLink" href="client/support/README.html">README</a> | <a class="popupLink" href="client/support/LICENSE.html">LICENSE</a> | <a class="popupLink" href="client/support/CHANGELOG.html">CHANGELOG</a></p>
</div>

<div class="settings_status settings_item jumbotron disallowHighlighting">

  {{#if nextFetchTime}}
    <p class="text-center">next <i class='fa fa-refresh'></i> <small class="greyedout"><em>(grabbing)</em></small> will automatically take place at {{nextFetchTime}}.</p>
  {{else}}
    <p class="text-center"><i class='fa fa-refresh'></i> <small class="greyedout"><em>(grabbing)</em></small> takes place <strong>now</strong>!</p>
  {{/if}}

  <p class="text-center disallowHighlighting no-margin no-padding"><strong>global filtering</strong></p>

  <ul class="list-inline text-center">
    <li>Total releases: <span class="badge">{{itemCount}}</span></li>
    <li>Visible releases: <span class="badge">{{includedCount}}</span></li>
    <li>Hidden releases: <span class="badge">{{excludedCount}}</span></li>
  </ul>

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="settings_filter_all_radio" value="all" class="settings_filter_change_listener" {{#if filter.all}}checked{{/if}}>
          <strong>Don't apply global filtering to all releases!</strong> (default)
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="settings_filter_include_radio" value="include" class="settings_filter_change_listener" {{#if filter.include}}checked{{/if}}>
          <strong>Include</strong> filter: <u><strong>show releases</strong></u> that match <strong>all</strong> included global keywords
          <input type="text" class="form-control input-sm settings_filter_change_listener" id="settings_filter_include_keywords" placeholder="INCLUDED global keywords e.g. 'title format release-group language'" {{#if filter.exclude}}disabled{{/if}}{{#if filter.all}}disabled{{/if}} value="{{filter.includeKeywords}}">
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="settings_filter_exclude_radio" value="exclude" class="settings_filter_change_listener" {{#if filter.exclude}}checked{{/if}}>
          <strong>Exclude</strong> filter: <u><strong>hide releases</strong></u> that match <strong>at least one</strong> keyword
          <input type="text" class="form-control input-sm settings_filter_change_listener" id="settings_filter_exclude_keywords" placeholder="EXCLUDED global keywords e.g. 'title format release-group language'" {{#if filter.include}}disabled{{/if}}{{#if filter.all}}disabled{{/if}} value="{{filter.excludeKeywords}}">
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="settings_filter_both_radio" value="both" class="settings_filter_change_listener" {{#if filter.both}}checked{{/if}}>
          <strong>Both</strong> filters: filter by <u><strong>exclude</strong></u> <small>(1. hide unwanted)</small> then <u><strong>include</strong></u> <small>(2. show needed)</small> in sequence
        </label>
      </div>
    </div>
  </div>

  <p class="text-center"><button type="button" id="settings_apply_filter_button" class="btn btn-sm btn-primary defaultCursorNoDrag" disabled>save and apply global filter</button><br /></p>

  {{!-- <ul class="list-unstyled text-center well">
    <li>Don't filter global items! Total items: <span class="badge">42</span></li>
    <li>Filter via inclusion <small>(matching one or more globally included keywords)</small>: <span class="badge">42</span></li>
    <li class="row"><div class="col-xs-6 col-xs-offset-3"><input type="text" class="form-control input-sm" id="includedKeywordsInput" placeholder="Globally INCLUDED keywords (separated by space)"></div></li>
    <li>Filter via exclusion <small>(matching one or more globally excluded keywords)</small>: <span class="badge">42</span></li>
    <li class="row"><div class="col-xs-6 col-xs-offset-3"><input type="text" class="form-control input-sm" id="excludeKeywordsInput" placeholder="Globally EXCLUDED keywords (separated by space)"></div></li>
  </ul> --}}

  {{!-- <p class="text-center"><small>data (favourites &amp; releases) is kept separately in your USERDIR.<br /><strong>upgrading to newer versions will preserve all data!</strong></small></p> --}}

</div>

<div class="settings_contact settings_item jumbotron">

  <p class="text-center disallowHighlighting">{{!-- <strong>no f**king ads!</strong> <i class="fa fa-heart"></i> <small class="greyedout"><em>(love)</em></small> it? please  --}}<strong>share it</strong><br />{{> shareTwitter}}</p>

  <p class="text-center disallowHighlighting"><strong>hate it</strong><br/>issues on <a class="openLinkInBrowser" href="{{githubURL}}"><i class="fa fa-github"></i> GitHub</a></p>

  <p class="text-center disallowHighlighting">{{!-- <strong>wanna support?</strong> --}}<strong>beer it</strong>{{!-- <i class="fa fa-beer"></i> <small class="greyedout"><em>(beer)</em></small> --}}<br />{{> btc}}<br />{{> paypal}}<br />{{> gittip}}</p>

  <p class="text-center">{{!-- problems with <i class="fa fa-bug"></i> <small class="greyedout"><em>(bugs)</em></small>? --}}<strong>wipe it</strong><br/><button type="button" id="clearreset_button" data-loading-text="erase data and reset {{appName}}" class="btn btn-danger btn defaultCursorNoDrag">erase data and reset {{appName}}</button></p>

</div>