<div class="settings_what settings_item jumbotron disallowHighlighting">

  <p class="text-center"><a class="openLinkInBrowser" href="{{homepageURL}}"><img class="defaultCursorNoDrag" src="assets/SJ_logo_128x128x32.png" width="128px" height="128px" /></a></p>
  <p class="text-center"><strong><em>your</em> favourite releases</strong> from serienjunkies.org</p>
  <p class="text-center"><a class="popupLink" href="client/support/README.html">README</a> | <a class="popupLink" href="client/support/LICENSE.html">LICENSE</a> | <a class="popupLink" href="client/support/CHANGELOG.html">CHANGELOG</a></p>
</div>

<div class="settings_status settings_item jumbotron disallowHighlighting">

  {{#if nextFetchTime}}
    <p class="text-center">next <i class='fa fa-refresh'></i> <small class="greyedout"><em>(grabbing)</em></small> will automatically take place at {{nextFetchTime}}.</p>
  {{else}}
    <p class="text-center"><i class='fa fa-refresh'></i> <small class="greyedout"><em>(grabbing)</em></small> takes place <strong>now</strong>!</p>
  {{/if}}

  <p class="text-center">problems with <i class="fa fa-bug"></i> <small class="greyedout"><em>(bugs)</em></small>? <button type="button" id="clearreset_button" data-loading-text="erase data and reset {{appName}}" class="btn btn-danger btn defaultCursorNoDrag">erase data and reset {{appName}}</button></p>

  {{!-- <p class="text-center"><small>data (favourites &amp; releases) is kept separately in your USERDIR.<br /><strong>upgrading to newer versions will preserve all data!</strong></small></p> --}}

</div>

<div class="settings_contact settings_item jumbotron">

  <p class="text-center disallowHighlighting"><strong>no f**king ads!</strong> <i class="fa fa-heart"></i> <small class="greyedout"><em>(love)</em></small> it? please {{> shareTwitter}} your thoughts!</p>

  <p class="text-center disallowHighlighting"><strong>wanna support?</strong> donate a <i class="fa fa-beer"></i> <small class="greyedout"><em>(beer)</em></small><br />{{> btc}}<br />{{> paypal}}<br />{{> gittip}}</p>

  <p class="text-center disallowHighlighting"><strong>requests, bugs or disgust?</strong> open an issue on <a class="openLinkInBrowser" href="{{githubURL}}"><i class="fa fa-github"></i> GitHub</a>!</p>

</div>