<h4><i class="fa fa-gavel"></i> License terms &amp; conditions <small><em>(read this carefully!)</em></small></h4>
<p><strong>You have to read and agree to <a class="items_link_external" href="{{{licenseURL}}}">these license terms &amp; conditions</a> to use {{appName}} by {{author}}!</strong> {{appName}} itself is licensed under the {{license}} license, but uses several 3rd party libraries to function properly. Sources are available on <a class="items_link_external" href="{{{githubURL}}}">GitHub</a>.</p>

<h4><i class="fa fa-gavel"></i> Usage terms &amp; conditions <small><em>(read this even more carefully!!!)</em></small></h4>
<p>{{appName}} parses <strong>RSS feeds and HTML pages from serienjunkies.org</strong>. This operation might be <strong>illegal</strong> in your country and the creator of {{appName}} strongly urges you to check with your local law before you use it. <strong>The creator of {{appName}} cannot be held responsible for any law violations caused by this application, it's solely up to you!</strong> Last but not least the creator of {{appName}} is <strong>neither cooperating</strong> with serienjunkies.org <strong>nor responsible for any content</strong> that is <strong>hosted/uploaded</strong> on serienjunkies.org or gets <strong>downloaded</strong> from there.</p>

<p class="text-center greyedout"><small><em>You can revisit this dialog later anytime by clicking on <i class='fa fa-info-circle'></i> at the titlebar!</em></small></p>

<p class="text-center lead leadnomargin"><strong>Do you understand and agree to ALL terms &amp; conditions?</strong></p>